<div class="overlay" (click)="collapsToggle()" [ngClass]="isMenuOpen ? 'show': ''"></div>
<!-- Start Header -->
<header>
	<div class="container">
		<div class="header">
			<a class="logo" routerLink="">
				<img src="assets/images/logo.png" alt="">
			</a>
			<div class="right-content" [ngClass]="isMenuOpen ? 'nav-open' : ''">
				<ul class="main-links">
					<li class="link-item active">
						<a routerLink="">{{ 'MENU.HOME' | translate }}</a>
					</li>
					<li class="link-item dropdown">
						<a routerLink="">{{ 'MENU.ABOUT' | translate }}</a>
						<ul class="dropdown-content">
							<li class="link-item">
								<a routerLink="">{{ 'MENU.DROPDOWN.OUR_COMPANY' | translate }}</a>
							</li>
							<li class="link-item">
								<a routerLink="">{{ 'MENU.DROPDOWN.PARTNERS&ACCREDITATIONS' | translate }}</a>
							</li>
							<li class="link-item">
								<a routerLink="">{{ 'MENU.DROPDOWN.CORPORATE_STRUCTURE' | translate }}</a>
							</li>
						</ul>
					</li>
					<li class="link-item">
						<a routerLink="">{{ 'MENU.BUSINESS' | translate }}</a>
					</li>
					<li class="link-item">
						<a routerLink="">{{ 'MENU.PROJECTS' | translate }}</a>
					</li>
					<li class="link-item">
						<a routerLink="">{{ 'MENU.PARTNERS' | translate }}</a>
					</li>
					<li class="link-item">
						<a routerLink="">{{ 'MENU.MEDIA&EVETS' | translate }}</a>
					</li>
					<li class="link-item">
						<a routerLink="">{{ 'MENU.CONNTACTS' | translate }}</a>
					</li>
					<li class="link-item">
						<a routerLink="">{{ 'MENU.CAREERS' | translate }}</a>
					</li>
				</ul>
				<ul class="other-links">
					<li class="link-item">
						<a routerLink="">
							<i class="fas fa-search"></i>
						</a>
					</li>
					<li class="link-item">
						<a routerLink="" (click)="isLanguageToggle('en')" *ngIf="isLanguageChanged">
							<img src="assets/images/en-flag.png" alt="">
						</a>
						<a routerLink="" (click)="isLanguageToggle('ar')" *ngIf="!isLanguageChanged">
							<img src="assets/images/ar-flag.png" alt="">
						</a>
					</li>
				</ul>
			</div>
			<div class="mob-collaps" (click)="collapsToggle()" [ngClass]="isMenuOpen ? 'show' : ''">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
</header>
<!-- End Header -->